<h3>Login</h3>

<form action="/login" method="POST">
  <div class="input-field">
    <label for="username">Username</label>
    <input type="text" name="user[username]">
  </div>

  <div class="input-field">
    <label for="password">Password</label>
    <input type="password" name="user[password]">
  </div>

  <input type="submit" value="Login" class="findbtn">
  
</form>