<h4>Create New Account</h4>

<form action="/signup" method="POST">
  <div class="input-field">
    <label for="username">Username:</label>
    <input type="text" name="user[username]">
  </div>

  <div class="input-field">
    <label for="password">Password:</label>
    <input type="password" name="user[password]">
  </div>

  <input type="submit" value="Register" class="findbtn">
  
</form>

