body {
  background-color: lightblue;
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
  color: #3c5aa6
}

.nav-bar {
  background-color: #3c5aa6;
  font-family: 'Roboto', sans-serif;
}

.findbtn {
  background-color: #3c5aa6;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  font-size: 24px;
  margin: 4px 2px;
  opacity: .8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
}

.findbtn:hover {opacity: 1}

.pokemon-logo {
  vertical-align: middle;
  padding-bottom: 40px;
}

h1 {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;  
  color: #3c5aa6;
}

h2 {
  border-bottom: 2px solid #ccc;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
  color: #3c5aa6
}

h3 {
  font-size: 18px;
  line-height: 36px;
  font-family: 'Roboto', sans-serif;
  color: #3c5aa6;
  margin-top: 0%;
}

h4 {
  color: #3c5aa6;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 18px;
  font-family: 'Roboto', sans-serif;
  color: #3c5aa6
}



/* label color
.input-field label {
  color: #3c5aa6;
}
/* label focus color */
/* .input-field input[type=text]:focus + label {
  color: #3c5aa6;
} */
/* label underline focus color */
/* .input-field input[type=text]:focus {
  border-bottom: 1px solid #3c5aa6;
  box-shadow: 0 1px 0 0 #3c5aa6;
} */
/* valid color */
/* .input-field input[type=text].valid {
  border-bottom: 1px solid #3c5aa6;
  box-shadow: 0 1px 0 0 #3c5aa6;
} */
/* invalid color */
/* .input-field input[type=text].invalid {
  border-bottom: 1px solid #3c5aa6;
  box-shadow: 0 1px 0 0 #3c5aa6;
} */ 

     

