<h3>Characters List</h3>


<form action="/characters" method= "get">
  <div class="row" style="padding-left:0;">
   <div class="col s12" >
       <div class="row" style="margin-bottom:0px">
           <div class="input-field col s4" style="padding-left:0;">
               <input id="query" type="text" name="query" placeholder="Search Character">
           </div>
                <div class="input-field col s6">
                    <button class="findbtn btn-small" style= "background-color:#3c5aa6;"type="submit" name="search">Search</button>
                </div>
            </div>   
        </div>
    </div>
</form>


<%# pulls in from cookie sessions from characters_controller %>
<p>Recently Viewed: <%= @character ? @character.name : "There are no characters recently viewed" %> </p>

<ul>
<% @characters.each do |character| %>
  <li><a href="/characters/<%= character.id %>"><%= character.name %></a></li>
  <% end %>
</ul>



