<h3>Create Character</h3>

  <form action="/characters" method="post" id="form-focus">
    <div class="input-field">
      <input id="name" type="text" name="name">
        <label for="name">Character Name</label>
    </div>

    <div class="input-field">
      <input id="weight" type="number" name="weight">
        <label for="weight">Weight</label>
    </div>

    <div class="input-field">
      <input id="height" type="text" name="height">
        <label for="height">Height</label>
    </div>

    <div class="input-field">
      <input id="energy_type" type="text" name="energy_type">
        <label for="energy_type">Energy Type</label>
    </div>

    <div class="input-field">
      <input id="vip_status" type="text" name="vip_status">
        <label for="vip_status">VIP Status</label>
    </div>

    <div class="input-field">
      <input id="hit_points" type="number" name="hit_points">
        <label for="hit_points">Hit Points</label>
    </div>

    <div class="input-field">
      <input id="name" type="text" name="name">
        <label for="name">Character Name</label>
    </div>  

    <input type="submit" value="Create Character" class="btn-large findbtn">
         

  </form>

