<h3>Create Character</h3>

  <form action="/characters" method="post">
    <div class="input-field">
      <input id="name" type="text" name="character[name]">
        <label for="name">Character Name</label>
    </div>

    <div class="input-field">
      <input id="weight" type="number" name="character[weight]">
        <label for="weight">Weight</label>
    </div>

    <div class="input-field">
      <input id="height" type="text" name="character[height]">
        <label for="height">Height</label>
    </div>

   
    <div class="input-field">
    <select name="character[energy_type]" id="energy_type"> 
      <option disabled selected>Choose your option</option>
      <option data-icon="/images/colorless.png">Colorless</option>
      <option data-icon="/images/darkness.png">Darkness</option>
      <option data-icon="/images/dragon.png">Dragon</option>
      <option data-icon="/images/fairy.png">Fairy</option>
      <option data-icon="/images/fighting.png">Fighting</option>
      <option data-icon="/images/fire.png">Fire</option>
      <option data-icon="/images/grass.png">Grass</option>
      <option data-icon="/images/lightning.png">Lightning</option>
      <option data-icon="/images/metal.png">Metal</option>
      <option data-icon="/images/psychic.png">Psychic</option>
      <option data-icon="/images/water.png">Water</option>
    </select>      
     <label for="energy_type">Energy Type</label>      
  </div>

    <div class="input-field">
    <select name="character[vip_status]" id="vip_status"> 
      <option value="" disabled selected>Choose your option</option>
      <option>Common ●</option>
      <option>Uncommon ◆</option>
      <option>Rare ★</option>
    </select>
        <label for="vip_status">VIP Status</label>
    </div>

    <div class="input-field">
      <input id="hit_points" type="number" name="character[hit_points]">
        <label for="hit_points">Hit Points</label>
    </div>


    <input type="submit" value="Create Character" class="findbtn">
         

  </form>
      <script>
        $(document).ready(function(){
          $('select').formSelect();
          });
      </script>

   
