  <head>
  <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
   </head>
<div style="text-align:center;">
<h1 style="font-size:3.5rem; font-family: 'Sigmar One', cursive;">Welcome to the World of</h1>

<img src="images/pokemon-logo.png" alt="Pokemon Logo"> 
    <p style="font-family: 'Sigmar One', cursive; font-size:20px">To get started, please click <em>Log In</em> or <em>Sign Up</em></p>
    <br>
    <p>
<br>

<footer>
<div style="text-align:left;">
            <a class="grey-text" target="_blank" href="https://icons8.com/icons/set/pikachu-pokemon">Pikachu Pokemon icon by <a class="grey-text" target="_blank" href="https://icons8.com">Icons8</a></a>
            </div>        
</footer>
