
<h1 style="width:1000px; height:300px; font-size:3.5rem;">Welcome to the World of <img class="pokemon-logo" src="images/pokemon-logo-vector.png" alt="Pokemon Logo"> </h1>
    <h3>To get started, please click <em>Log In</em> or <em>Sign Up</em></h3>
    <br>
    <p>
     <!-- <form action="/login" method="POST" style="float: left; padding-right:20px" >
        <input type="submit" href="/login" value="Login" class="findbtn">
      </form>

      <col>

      <form action="/signup" method="POST">
      <input type="submit" href="/signup" class="findbtn" value="Sign Up">
      </form>
    </p> -->
<br>

<footer>
<div class="footer-copyright">
            <div>
            <a target="_blank" href="https://icons8.com/icons/set/pikachu-pokemon">Pikachu Pokemon icon by <a target="_blank" href="https://icons8.com">Icons8</a></a>
            </div>
          </div>         
</footer>

