
<h1 class="#3c5aa6-text">Welcome to the World of <img src="images/pokemon-logo-vector.png" alt="Pokemon Logo"> </h1>
    <h3 class="#3c5aa6-text">To get started, please click <em>Log In</em> or <em>Register</em> below:</h3>
    <br>
    <p>
      <form style="float: left; padding-right:20px" action="/login" method="POST">
        <a class="waves-effect waves-light btn-large findbtn">Login</a>
      </form>

      <col>

      <form action="/signup" method="POST">
        <a class="waves-effect waves-light btn-large findbtn">Register</a>
      </form>
    </p>


