
<div style="text-align:center;">
<h1 style="font-size:3.5rem;">Welcome to the World of </h1>

<img src="images/pokemon-logo.png" alt="Pokemon Logo"> 
    <h3>To get started, please click <em>Log In</em> or <em>Sign Up</em></h3>
    <br>
    <p>
<br>

<footer>
<div style="text-align:left;">
            <a class="grey-text" target="_blank" href="https://icons8.com/icons/set/pikachu-pokemon">Pikachu Pokemon icon by <a class="grey-text" target="_blank" href="https://icons8.com">Icons8</a></a>
            </div>        
</footer>

