
<h1>Welcome to the World of <img class="pokemon-logo" src="images/pokemon-logo-vector.png" alt="Pokemon Logo"> </h1>
    <h3>To get started, please click <em>Log In</em> or <em>Sign Up</em> below:</h3>
    <br>
    <p>
      <form style="float: left; padding-right:20px" action="/login" method="POST">
        <input type="submit" value="Login" class="findbtn">
      </form>

      <col>

      <form action="/signup" method="POST">
        <input type="submit" value="Sign Up" class="findbtn">
      </form>
    </p>
<br>

<footer>
<div class="footer-copyright">
            <div>
            <a target="_blank" href="https://icons8.com/icons/set/pikachu-pokemon">Pikachu Pokemon icon by <a target="_blank" href="https://icons8.com">Icons8</a></a>
            </div>
          </div>         
</footer>

